process {
    executor = 'slurm'
    //debug = true
    clusterOptions = ' -p kempner_dev -A kempner_dev --constraint=intel'
    
}

singularity {
    enabled = true
    container = '/n/holylabs/LABS/kempner_dev/Lab/software/aind/aind-ephys-pipeline-base.sif'
    singularity.autoMounts = true
    //platform = 'linux/amd64'
    //envWhitelist = ['KACHERY_ZONE', 'KACHERY_CLOUD_CLIENT_ID', 'KACHERY_CLOUD_PRIVATE_KEY']
}

dag {
    enabled = true
    file = RESULTS_PATH + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = RESULTS_PATH + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = RESULTS_PATH + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = RESULTS_PATH + '/nextflow/trace.txt'
    overwrite = true
}
