dag {
    enabled = true
    file = '../results/nextflow/dag.html'
    overwrite = true
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--env GIT_ACCESS_TOKEN=$CO_USERNAME:$CO_PASSWORD --volume $DATA_PATH:/tmp/data'
}

env {
    RESULTS_PATH = '../results'
}

process {
    debug = true
}

report {
    enabled = true
    file = '../results/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = '../results/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = '../results/nextflow/trace.txt'
    overwrite = true
}

executor {
    cpus = 8
    memory = '32 GB'
}
