process { 
    executor = 'awsbatch' 
    queueSize = 100
}

process.resourceLabels = ['allen-batch-pipeline': 'aind-ephys-pipeline-kilosort25']

process { 
  withName: capsule_aind_ephys_postprocessing_5 { containerOptions = '--memory-swap 240000 --memory-swappiness 20 --shm-size 16000000' }
  withName: capsule_aind_ephys_spikesort_kilosort_25_7 {
    errorStrategy = 'retry'
    maxRetries = 3
    maxErrors = 5
  }
}

env.PIPELINE_URL = "https://github.com/AllenNeuralDynamics/aind-ephys-pipeline-kilosort25"
env.PIPELINE_VERSION = "kilosort4_opto_0.2.0"