process {
    executor = 'local'
    debug = true
}

executor {
    cpus = 8
    memory = '32 GB'
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--volume $DATA_PATH:/tmp/data'
    envWhitelist = ['KACHERY_ZONE', 'KACHERY_CLOUD_CLIENT_IT', 'KACHERY_CLOUD_PRIVATE_KEY']
}

dag {
    enabled = true
    file = RESULTS_PATH + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = RESULTS_PATH + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = RESULTS_PATH + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = RESULTS_PATH + '/nextflow/trace.txt'
    overwrite = true
}
