process {
    debug = true
    executor = 'slurm'
}

executor {
    cpus = 8
    memory = '32 GB'
}

dag {
    enabled = true
    file = '../results/nextflow/dag.html'
    overwrite = true
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--volume $DATA_PATH:/tmp/data'
    envWhitelist = ['KACHERY_ZONE', 'KACHERY_CLOUD_CLIENT_IT', 'KACHERY_CLOUD_PRIVATE_KEY']
}

env {
    RESULTS_PATH = '../results'
}

report {
    enabled = true
    file = '../results/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = '../results/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = '../results/nextflow/trace.txt'
    overwrite = true
}
